<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e96bb9f7-f8db-46e5-a3a5-ae1fb59cd731" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e96bb9f7-f8db-46e5-a3a5-ae1fb59cd731fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
